:root{
  font-family: 'Ubuntu', sans-serif;
  --primary-color: #f1db66;
  --secondary-color: #8F3949;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: lightgrey;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: grey;
}

img {
  max-width: 100%;
  height: auto;
}

.img-react{
  display: inline;
  margin-right: 10px;
  width: 3rem;
}

@media screen and (max-width: 400px) {
  .img-react{
    display: block;
    margin: 10px;
  }
}

@keyframes arrowDown {
  from {
      transform: translate(0px, 0px);
      opacity: 0.5;
  }
  50% {
      transform: translate(0px, 5vh);
      opacity: 1;
  }
  to {
      transform: translate(0px, 0px);
      opacity: 0.3;
  }
}

#arrow {
  animation-name: arrowDown;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes showPhotoProfil {
  from {
      transform: translate(10vw, 0px);
      opacity: 0.2;
  }
  to {
      transform: translate(0px, 0px);
      opacity: 1;
  }
}

#photo-profil {
  animation-name: showPhotoProfil;
  animation-duration: 2s;
}

@keyframes showWelcomeText {
  from {
      transform: translate(-10vw, 0px);
      opacity: 0.2;
  }
  to {
      transform: translate(0px, 0px);
      opacity: 1;
  }
}

#welcome-text {
  animation-name: showWelcomeText;
  animation-duration: 2s;
}

.display-language {
  display: none;
}

.custom-tag{
  height: 500px;
}

@media screen and (max-width: 768px){
  .custom-tag{
    height: 800px;
  }
}

@media screen and (max-width: 767px) {
  .display-language {
      display: block;
  }
}

/* #skills .carousel-caption {
  position: static;
} */